$color-2022-1: #9b2d2c;
$color-2022-2: #dbbc57;
$color-2022-3: #5a3a2b;

//2020
$color-2020-1: #d943df;
$color-2020-2: #7efffd;
$color-2020-3: #3e2665;
$color-2020-4: #619190;

//2019
$color-2019-1: #c4a1b7;
$color-2019-2: #c4d7c3;
$color-2019-3: #0e0905;

//2018
$color-2018-1: #69191a;
$color-2018-2: #bd5113;
$color-2018-3: #ffffff;

//2017
$color-2017-1: #c7342d;
$color-2017-2: #386638;
$color-2017-3: #ebe4c7;

//2016
$color-2016-1: #750101;
$color-2016-2: #dc7f1f;
$color-2016-3: #c3c3c3;

//2015
$color-2015-1: #ff2c79;
$color-2015-2: #68c306;
$color-2015-3: #faff00;